# Variables de Aplicación
APP_NAME=ReparaYaApp
APP_ENV=local
GROUP_CODE=group_code
STUDENT_NAME=student_name

# Puertos
PORT_APACHE=3000
PORT_MYSQL=3306
PORT_PMA=8080

# Base de Datos (No se incluyen las contraseñas en este archivo de ejemplo)
MYSQL_DATABASE=database_name
MYSQL_USER=user_name
MYSQL_PASSWORD=secret_user_pass
MYSQL_ROOT_PASSWORD=secret_root_pass