# Variables de Aplicación
APP_NAME=ReparaYaApp
APP_ENV=local
GROUP_CODE=1
STUDENT_NAME=Jordi C.

# Puertos
PORT_APACHE=3000
PORT_MYSQL=3306
PORT_PMA=8080

# Base de Datos
MYSQL_DATABASE=reparayaapp
MYSQL_USER=user
MYSQL_PASSWORD=secret_user_pass
MYSQL_ROOT_PASSWORD=secret_root_pass